# Flutter/Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
*.iml

# Android
android/.gradle/
android/build/
android/app/build/
android/key.properties
*.jks

# iOS
ios/Pods/
ios/.symlinks/

# IDE
.idea/
.vscode/
